body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    color: #66fcf1;
}
h3{
    font-size: 1.3rem;
}
a{
    color: #66fcf1;
}
input{
    background-color: #1f2833 !important;
    color: #fff !important;
}

img.rounded-circle{
    filter: none;
    border: 2px solid #66fcf1;
}

/*header*/
.navbar{
    background-color: #0b0c10;
    color: #66fcf1 !important;
}

.navbar-brand, .footer-logo{
    font-weight: 700;
    font-size: 1.5rem;
}

.btn-main{
    background-color: #66fcf1;
    color: #0b0c10 !important;
}

/*hero section*/
.hero{
    background-color: #1f2833;
}

.hero-post{
    position: relative;
}

.hero-post-badges{
    position: absolute;
    top: 10px;
    right: 10px;
}

.hero-post-badges>a{
    background-color: #0b0c10;
    color: #66fcf1;
    display: block;
    font-size: 0.8rem;
}

.hero-post-content{
    position: absolute;
    bottom: 10px;
    color: #66fcf1;
}

.hero-post-content img{
    filter: grayscale(50%) brightness(0.8);
}

.hero-post-content img.rounded-circle{
    filter: none;
}

/*Blog section*/
.blog-posts{
    background-color: #0b0c10;
    color: #c5c6c7;
}

.blog-post{
    background-color: #1f2833;
}

.blog-post h3{
    font-size: 1.4rem;
}

.blog-post img{
    width: 100%;
    height: 100%;
}

.blog-post p{
    font-size: .9rem;
}

.blog-post  .col-sm-8{
    border-left: 3px solid #66fcf1;
}

.badge{
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.badge > a{
    margin-left: .5rem;
    padding: .5rem;
    background-color: #66fcf1;
    color: #0b0c10;
}


/*aside*/
.social-links{
    color: #0b0c10;
    font-size: 1.5rem;
}
.social-links .col-sm-4{
    border: 2px solid #66fcf1;
}
.social-links > a{
    padding-top: 2rem;
}

.aside-heading{
    border-left: 3px solid #66fcf1;
}

.author p{
    font-size: 0.8rem;
}

.author-social-links a{
    margin-right: 0.8rem;
}

.badges{
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.badges > a{
    margin-left: .5rem;
    display: inline-block;
    margin: 0.2rem;
    padding: .5rem;
    background-color: #66fcf1;
    color: #0b0c10;
}


/*footer*/
.footer{
    background-color: #1f2833;
    color: #c5c6c7;
}

.footer p{
    font-size: 0.9rem;
}

.footer input{
    background-color: #0b0c10 !important;
}